body {font-family: 'Oswald', sans-serif; margin-left: 30px; margin-right: 30px;}

header {width: 100%; display: flex;}
  
.foto_cv {size: -20%; display: block; margin: auto; padding-top: 30px;}
  
.header-content {background-color: #2d313c; float: right ; width: 74%; color: #dfdfe1 ; text-align: center;}

.header-content-name {font-size: 50px;}

.header-content-description {font-style: italic;}

section {margin: 10px;}
  
.section-header {cursor: pointer;}

.panelLateral {width: 350px; height: fill; background-color: #dfdfe1 ; float: left; text-align: center; color: #2d313c; margin-bottom: 260px;}

.tituloPanelLateral {font-size: 20px; text-decoration: underline; padding-top: 30px;}

ul {text-align: left; list-style: none; padding: 0; margin-left: 20px; line-height : 50px;}

li::before {content: "\2013"; padding-right: 20px; padding-left: 10px;}

.webCuatroa {text-decoration: none ; color: #2d313c;}

.webCuatroa:hover {color: #fbb726; text-decoration: underline; transition-duration: 0.8s;}

.PanelExperiencia {display: auto ; width: auto; height: fill; padding-top: 300px; padding-left: 500px;}

.section-experience {font-size: 30px; }

.section-studies {font-size: 30px;}

.PanelEstudios {display: auto ; width: auto; height: fill; padding-top: 20px; padding-left: 500px;}

button {color: #fbb726; background-color: #2d313c; border-radius: 6px; padding: 10px; font-size: 20px; margin-top: 30px;} 

button:hover {color: #fbb726; background-color: white ; transition-duration: 0.8s;}

.experience, .studies { display: none; }

.active { display: block; background-color: #dfdfe1; padding: 10px;}

.PanelHabilidades {display: auto ; width: auto; height: fill; padding-top: 20px; padding-left: 500px; font-size: 30px; margin-bottom: 300px;}

.enunciados {font-size: 20px; margin-bottom: -40px; font-weight: bold;} 

hr {background-color: #2d313c; height: 5px; text-align: center; border-radius: 200px;}

footer {display: block; background-color: #2d313c; color: #dfdfe1; position: absolute; bottom: 0; width: 96%;}

html {min-height: 100%; position: relative;}

.social-links {text-align: center; list-style: none;}

.social-button {display:inline; padding-left:3px; padding-right:3px; font-size: 20px; color: #dfdfe1; text-decoration: none;}

.social-button:hover {color: #fbb726; text-decoration: underline; transition-duration: 0.8s;}

.progress-bar {
    background-color: #2d313c;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
  }

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out; 
    background-color: #ccc;   
  }

  .yellow span {
    background-color:#fbb726; 
  }

  .stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
      transparent 75%, transparent);            
  
    animation: animate-stripes 3s linear infinite;             
  }
  
  @keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
  }
  
  .shine span {
    position: relative;
  }
  
  .shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
  }
  
  @keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
  }
  
  .glow span {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
    animation: animate-glow 1s ease-out infinite;          
  }
  
  @keyframes animate-glow {
    0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
    50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
    100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
  }